<!DOCTYPE html>
<html>
  <head>
    <title>${DECOMMISSION_TITLE}</title>
    <style>
      html { color-scheme: light dark; }
      body { width: 35em; margin: 0 auto; font-family: Tahoma, Verdana, Arial, sans-serif; }
    </style>
  </head>
  <body>
    <h1>${DECOMMISSION_TITLE}</h1>
    <p>${DECOMMISSION_NOTICE}</p>
  </body>
</html>
